@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

*{
    font-weight: 900 !important;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bdr-white{
    border: 2px solid white;
}
.f9{
    font-weight: 900;
}
.bg-gradient-circle{
    background: radial-gradient( rgba(0,0,0,0.9) 30%, rgba(0,0,0,1)50% 60% , rgb(0, 0, 0)60%);
}
.bd-white{
    border: 1px solid rgba(255,255,255,0.5);
}
.text-wt{
     color: white;
}
.text-wt:hover{
    color: rgba(250,250,250,0.7); 
}
.color-dim{
    border: 1px solid rgba(250,250,250,0.4);
}
.input:focus{
    outline: 2px solid white;
}
input:focus ~.label{
    transition: 0.2s;
    font-size: 12px;
    top: 8%;
    left: 6%;
}
.bdr{
   border: 2px solid red;
}
.outline-black{
    outline: 1px solid black;
}
.hide{
     height: 0;
}
.text-mywhite{
    color: rgba(250,250,250,0.7);
}
.link:hover{
     color: white;
}
.link:focus{
    color: #E50914;
}

/*Home*/

.ST{
    font-family: 'Libre Baskerville', serif;
}
.nav ul li{
    padding-left: 20px;
    color: white;
    cursor: pointer;
}
.nav li{
    width: 150px;    
    padding: 4px;
}
@media (min-width:960px){
     .nav li{
         width: auto;
     }
}

.nav ul li:hover{
    color: rgba(250,250,250,0.7);
}
.bg-bt{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.nav-toogle{
    background: rgba(0,0,0,0.6 );
}
.bg-right-bt{
    background: linear-gradient(to right, rgba(0,0,0,0.6) 50% , rgba(0,0,0,0));
}
@media (max-width:960px){
    .bg-right-bt{
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0% , rgba(0,0,0,1));
    }
}
a{
    color: white;
}
a:hover{
    color: rgba(250,250,250,0.7);
}
.image-z{
    z-index: 1;
}

.image-z:hover{
    z-index: 10 ;
}
.scrollbar-hidden::-webkit-scrollbar{
     display:none;
}

@media(max-width:900px){
.no_scroll::-webkit-scrollbar{
    display:none;
}
}

/* Search bar*/
.movie_poster{
    width: 100%;
    position: absolute;
    bottom:0;
    left: 0;
    padding-left: 10px;
    background: linear-gradient( rgba(0,0,0,0) , rgba(0,0,0,0.5) 20% ,rgba(0,0,0,1));
}
@media (max-width:450px){
    .movie_poster{
        position: static;  
        padding-left: 5px; 
        overflow: hidden;
    }
}
/* detail */
.border-left-white{
    border-left: 2px solid  #aaa;
}
@media (min-width:950px){
.bg-left-black{
    background: linear-gradient(to right, rgba(25,25,25,0.9) 70% , rgba(30,30,30,0.9) , rgba(0,0,0,0));
}
}
@media (max-width:959px){
    .bg-left-black{
        background: linear-gradient(to right, rgba(25,25,25,0.9) 50% , rgba(30,30,30,0.9) , rgba(0,0,0,0)); ;
        border-bottom: 1px solid white;    
    }
}
@media (max-width:525px){
    .bg-left-black{
        background: linear-gradient( 20deg, rgba(25,25,25,0.7) 40% , rgba(30,30,30,0.5)60% , rgba(0,0,0,0) );
         
    }
}

.customOverflow{
    overflow:hidden;
    text-overflow: ellipsis;
}

/*mylist card*/

.shadow-myWhite:hover{
    /* box-shadow: 4px 4px white; */
    border: 1px solid white;    
}
/*bottom nav*/
.btm-nav .navlink{
   width: 100%;
   height: 100%;
}
.btm-nav li{
    display:flex;
    justify-content: center;    
    color: white;
    width:100%;
}

.h-overflow{  
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}
.h-overflow::after{
    content: "...";
    position: absolute;
    right: 0;
    bottom: 0;
}

.imgLoad{
    background-color: transparent;
    transform:  translate(-50%,-50%); 
    top:  50%;
    left: 50%;
    animation: loading 3s ease-out infinite;
}
.imgLoad::before{
    content: " ";
    width: 100%;
    height: 20%;
    background-color: rgba(250,250,250,0.2);
    transform: rotate(-45deg);
}
 @keyframes loading {
     0%{
        top: -50%;
        left: -50%;
     }
     100%{
        top: 100%;
        left: 100%;
     }
} 

.loading{
    background: linear-gradient(45deg , #eae0e0, #c5bac5);
    animation: load 3s infinite ease-in;
    position: relative;
}
.loading::before{
     content: "";
     width: 100%;
     height: 100%;
     background: linear-gradient(45ded , #fff, rgba(0,0,0,0));
}
@keyframes load {
    0%{
        background: linear-gradient(45deg , #f0f1e1, #efe4e4);
    }
}